body {
	background-color: #292d3c;
	font-family: Arial,"sans-serif";
	list-style-type: none;
	color:#929292;
}
header {
}
li {
	list-style-type: none;
	box-sizing:content-box;
	
}

#main {
	left: 35px;
	right: 35px;
	top: 99px;
	bottom: 20px;
	background-color: #f1f1f1;
	position: absolute;
	padding: 0px;
}
a:hover {
	text-decoration:none;
}
.navbar .row.first {
	background-color: #262835;
	height: 40px;
	padding: 0 20px;
	}
	
	.row.second {
	display: block;
	position: relative;
	height: 37px;
	z-index: 10;
	border-top: 1px solid #0a0a0a;
	border-bottom: 1px solid #21232e;
	background-color: #3d4753;
	background-image: -moz-linear-gradient(top,#404955,#313b48);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#404955),to(#313b48));
	background-image: -webkit-linear-gradient(top,#404955,#313b48);
	background-image: -o-linear-gradient(top,#404955,#313b48);
	background-image: linear-gradient(to bottom,#404955,#313b48);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff404955',endColorstr='#ff313b48',GradientType=0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.floatfix {
		float:left;
		width:100%;
		padding:0;
		margin:0;
	}
	.row.second .menu li:hover, #header .row.second .menu li.active {
	color: #FFF;
	cursor: pointer;
	background-image: -moz-linear-gradient(top,#47505c,#39434f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#47505c),to(#39434f));
	background-image: -webkit-linear-gradient(top,#47505c,#39434f);
	background-image: -o-linear-gradient(top,#47505c,#39434f);
	background-image: linear-gradient(to bottom,#47505c,#39434f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff47505c',endColorstr='#ff39434f',GradientType=0);
	-webkit-transition: all 100ms;
	-moz-transition: all 100ms;
	transition: all 100ms;
	}
	
	.row.second .menu li {
	float: left;
	position: relative;
	color: #9ca1a7;
	font-weight: bold;
	font-size: 14px;
	height: 36px;
	line-height: 39px;
	border-right: 1px solid #2f303d;
	border-left: 1px solid #434c57;
	-webkit-text-shadow: 0 -1px 1px #000;
	-moz-text-shadow: 0 -1px 1px #000;
	text-shadow: 0 -1px 1px #000;
	cursor: pointer;
	}
	
	.row.second .menu.top-level li {
	padding: 0 30px 0 30px;
	}
	
	.menu.top-level {
		overflow: hidden;
		padding-left: 0px;
	}
	
	.navbar-brand {
		height:auto;
		padding: 10px;
	}
	
	.nav>li>a:hover, .nav>li>a:focus, .nav>li>a:active, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus  {
		background-color:inherit;
	}
	.navbar a {
		color:#ccc;
	}
	
	.sidebar {
		background-color: #D3D3D3;
		float: right;
		height: 100%;
		width:300px;
		box-shadow: inset 3px 0px 2px rgba(0,0,0,.1);
	}
	.sidebar-nav ul {
		padding:0px;
	}
	.leftFixed {
		background-color: #D3D3D3;
		float: left;
		height: 100%;
		width:200px;
		box-shadow: inset -3px 0px 2px rgba(0,0,0,.1);
	}
	.panel-group .panel+.panel {
		margin-top:0px;
	}
	
	.orgs, .projects {
		float:left;
		padding:20px;
	}
	h4.panel-title {
		text-align:center;
	}
	.previewContainer {
		margin-right: 0px;
		margin-left: 200px;
	}
	.rightContainer {
		margin-right: 330px;
		margin-left: 15px;
	}
	.previewField {
		margin-left: 0px;
		margin-top: 10px;
		padding: 30px;
		border: 1px solid #DDDDDD;
		border-radius: 4px;
		position: relative;
		word-wrap: break-word;
		background:white;
	}
	.previewLabel {
		position:absolute;
		top:10px;
		right:20px;
	}
	#gridModules ul li {
		padding:px;
	}
	ul#forms li.item.add {
	width: 168px;
	height: 196px;
	padding: 11px 10px;
	margin-bottom: 40px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 14px;
	vertical-align: baseline;
	float: none;
	}
	.admin-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 3px 12px;
	height: 27px;
	line-height: 27px;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	font-size: 13px;
	float: left;
	-webkit-font-smoothing: antialiased;
	}
	ul#forms li.item.add img {
	display: block;
	float: left;
	position: absolute;
	left: 73px;
	top: 78px;
	}
	ul#forms li.item {
	width: 190px;
	height: 260px;
	display: inline-block;
	margin-right: 30px;
	position: relative;
	clear: none;
	}
	
	.admin-button.orgwhite {
		background-color: rgb(255, 255, 255);
		width: 188px;
		height: 218px;
		border: 1px solid #ccc;
		border-bottom: 1px solid #c0c6cb;
		border-top: 1px solid #dadada;
		position:relative;
	}
	.noDrag {
		
	}
	.admin-button.turquoise {
	background: #8ac5c6;
	border: 1px solid #61b1b2;
	border-bottom: 1px solid #59adae;
	border-top: 1px solid #75bbbc;
	color: #fff;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff91c8c9',endColorstr='#ff79bcbe',GradientType=0);
	border-bottom: 1px solid #518889;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0px 2px 3px rgba(0,0,0,0.1),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0px 2px 3px rgba(0,0,0,0.1),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0px 2px 3px rgba(0,0,0,0.1),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0);
	}
	
	.admin-button.turquoise:hover {
	background-color: #87cccd;
	-moz-transition: all 150ms ease-in;
	-webkit-transition: all 150ms ease-in;
	-o-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
	color: #fff;
	}
	.sidebar-nav .preview {
	
		-moz-border-radius: 2px;
		border-radius: 2px;
		text-align: center;
		vertical-align: middle;
		font-weight: bold;
		display:block;
		margin:5px	0px;
		border:1px solid #ddd;
		background: #eee;
		border: 1px solid #b1b1b1;
		border-bottom: 1px solid #a5a5a5;
		border-top: 1px solid #cfcfcf;
		color: #555;
		background-image: -moz-linear-gradient(top,#f3f3f3,#e1e1e1);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e1e1e1));
		background-image: -webkit-linear-gradient(top,#f3f3f3,#e1e1e1);
		background-image: -o-linear-gradient(top,#f3f3f3,#e1e1e1);
		background-image: linear-gradient(to bottom,#f3f3f3,#e1e1e1);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3f3f3',endColorstr='#ffe1e1e1',GradientType=0);
		font-weight: normal;
		text-shadow: none;
		font-size: 12px;
		padding: 3px 12px 2px 12px;
		-webkit-font-smoothing: subpixel-antialiased;
		cursor:move;
	}
	
	.sidebar-nav .preview:hover {
		background-image: -moz-linear-gradient(top,#fff,#ededed);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ededed));
		 background-image: -webkit-linear-gradient(top,#fff,#ededed); 
		background-image: -o-linear-gradient(top,#fff,#ededed);
		 background-image: linear-gradient(to bottom,#fff,#ededed); 
		background-repeat: repeat-x; 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffededed',GradientType=0);
		 -webkit-box-shadow: 0 0 0 transparent,1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0);
		-moz-box-shadow: 0 0 0 transparent,1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0);
		 box-shadow: 0 0 0 transparent,1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0); 
		}
	.sidebar-nav .lyrow .drag, .sidebar-nav .box .drag {
		position:static;
		
	}
	.demo .box input[type="text"] {
		border-radius:0px;
		border: none;
		background: rgb(216, 214, 201);
		padding: 10px;
		border-radius: 4px;
		color: black;
	}
	.demo .box .headerModal input[type="text"], .demo .box .headerModal select {
		background:white;
		margin-bottom:10px;
	}
	.headerModal label, .inputModal label {
		vertical-align: bottom;
		color: white;
		font-size: 20px;
		margin-top: 6px;
		text-align: left;
	}
	.headerInput {
		height: 60px;
		font-size: 1.3em;
		
	}
	.note-toolbar {
		border-radius:4px 4px 0 0;
	}
	.note-editor {
		background:white;
		border-radius:4px;
		
	}
	
	.descriptionModal .modal-footer {
		border-top:none;
padding: 10px 0px;

	}
	.descriptionModal .modal-body {
		padding: 20px;
		text-align: left;
		background: white;
		border-radius: 4px;
		color: black;	
	
	
	}
	
	.descriptionView {
		padding:10px 0;
	}
	.headerModal .modal-footer {
		border-top:none;
		padding:10px;
		padding-top:15px;
	}
	.demo .box .modal input[type="text"] {
		background:white;
	}
	.saveSingle {
		float:right;
	}
	.demo .box .modal select {
	background:white;	
	}
	.inputModal .btn-group {
		padding-left:0px;
	}
	
	.inputModal label {
		padding-left:0px;
	}
	.inputModal .modal-body .row {
		padding:5px 0;
	}
	.inputModal .modal-footer {
		border-top:none;
		padding:10px;
		padding-top:15px;
	}
	
	.inputModal .modal-footer .btn {
	margin-top:5px;	
	}
		.headerModal .modal-footer .btn {
		margin-top:5px;	
		}
	.demo .box .view .socialFields .input-group, .demo .box .view .needsValidation .input-group{
		border-radius:0px;
		border-top:1px solid #aaa;
	}
	.demo .box .view .socialFields  input[type="text"]{
		border-radius:0px
		}
		.needsValidation.input-group input[type="text"] {
			border-radius: 0 4px 4px 0;
			padding-left:0px;
		}
		.modalView, .descriptionView {
			cursor:pointer;
		}
		
		.selectOption {
			margin-bottom: 10px;
			padding: 0px;
			float: right;
				}
		
 input[disabled] {
	 cursor:pointer !important;
 }

 .selectButtons {
	 text-align:left;
	 padding:0px;
 }
 .currencyValid {
	 display:none;
	 margin-top:10px;
 }
 .lyrow label {
	 cursor:pointer !important;
 }
	.socialFields .input-group-addon, .needsValidation .input-group-addon{
		border-radius:0px;
		background: rgb(216, 214, 201);
		border:none;		
		width:30px;
	}
	.needsValidation .input-group-addon {
		border-radius:4px 0 0px 4px;

	}
	.demo .box .view .socialFields .lastSocial {
		border-radius:0 0 5px 5px;
		overflow:hidden;
	}
	
	.demo .box .view .socialFields .firstSocial {
		border-radius:5px 5px 0 0;
		border-top:none;
		overflow:hidden;
	}
.socialFields .hidesocial {
	display:none;
}
.addressFields input[type="text"] {
	margin:5px 0px;
}

.addressrow input[type="text"] {
margin:0px;	
}
.addressrowinner {
	padding:5px;
}
	.demo .box select {
		border: none;
		background: rgb(216, 214, 201);
		padding: 31px;
		border-radius: 4px;
		color: rgb(162, 162, 162);
		height: 40px;
	}
	.demo .box textarea {
		border: none;
		background: rgb(216, 214, 201);
		padding: 10px;
		border-radius: 4px;
		color: black;
		resize: none;
		min-height: 110px;
	}
	.demo .box .view {
		overflow:hidden;
		padding-top:0px;
	}
	.demo .imageUpload {
		text-align:center;
	}
	.panel-group .panel {
		border-radius:0px;
	}
	.tag span {
		display:none;
	}
	.tag {
		padding: 4px 20px 4px 10px;
	}
	.tag .tag-i {
		top: 0.8em;
	}
	hr {
		margin-top:10px;
		margin-bottom:10px;
	}
	.demo .column .box .remove {
	position: absolute;
	top: -2px;
	right: 0px;
	z-index: 10;
	}
	.demo .column .box .openModal {
		top:-2px;
	}
	.demo .column .box {
		margin:5px;
	}
	.demo .column .box .drag {
	top: -2px;
	right: 20px;
	z-index: 10;
	}
	.demo .box:hover .view {
	}
		.ui-draggable-dragging {
			z-index:9999;
		}
	.ui-draggable-dragging .view {
	   display:none;
	}
	.ui-draggable-dragging .preview {
	   width:inherit;
	}
	.panel-body .dragthis {
		display:none;
	}
	.demo .remove {
	position: absolute;
	top: -6px;
	right: 0px;
	z-index: 10;
	cursor:pointer;
	
	}
	.tabglyph {margin-top:10px;}
	.tabglyph-stack {margin-right:15px;}
	
	.tabname {
		border: none;
		background:none;
		padding: 5px;
		border-radius: 2px;
		max-width: 81px;
		cursor:pointer;
		
		
	}
	.active .tabname {
		border: none;
		background: rgb(216, 214, 201);
		padding: 5px;
		color: black;
		font-size: 12px;
		color: #34A6CA ;
	}
	.nav-pills .active .tabname {
		background:white;
		text-align:left;
		
		
	}
	.moveTab {
		display: none;
		position: absolute;
		top: -5px;
		right: 5px;
		cursor:pointer;
	}
	.tabbable .col-md-9 {
		padding:0px;
	}
	.nav-pills .moveTab{
		color:white;
		top:5px;
	}
	li:hover .moveTab {
		display:block;
	}
	.tabname:focus {
		cursor:auto;
	}
	.tabsModal {
		z-index:1048;
	}
	#deleteTabsmodal p{
		margin-bottom:15px;
	}
	.demo .remove:hover, .demo .openModal:hover {
	color: #34A6CA;
	}
	.addGlyph {
		font-size: 1em;
		color: #34A6CA;
		position: relative;
		top: 13px;
		left: 5px;
		border-left: 1px solid #ddd;
		padding-left: 10px;
		cursor: pointer;
		height: 23px;
		padding-top: 3px;
	}
	
	.addtab-stacked {
		display:none;
		top: 10px;
		position: relative;
		
	}
	
	.active a .tabname {
		color:black;
	}
	.demo .openModal {
	position: absolute;
	top: -6px;
	right: 42px;
	z-index: 10;
	cursor:pointer;
	
	}
	.homelogo {
		background-image:url('/anyclogo.png');
		background-position:center 40%;
		position:absolute;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-size:70%;
	}
	#npModal .modal-content, .deleteModal .modal-content, .headerModal .modal-content, .descriptionModal .modal-content, .inputModal .modal-content {
		background:none;
		border:none;
		box-shadow:none;
		text-align:center;
	}
	#npModal .modal-dialog, .deleteModal .modal-dialog, .headerModal .modal-dialog, .descriptionModal .modal-dialog, .inputModal .modal-dialog {
		margin:20% auto;
	}
	#npModal .modal-content input[type="text"], .deleteModal .modal-content input[type="text"]{
	height: 50px;
	border: none;
	border-radius: 3px;
	font-size: 20px;
	color: black;
	padding: 10px;
	width:70%;
	margin-bottom:10px;
}
#npModal .modal-content button, .deleteModal .modal-content button {
height: 50px;
vertical-align: top;
font-size: 16px;
}
.deleteModal p { max-width:600px;
	font-size:24px;
	color:white;}
	.deleteModal p span {
		color:red;
	}
	.deleteModal .modal-content input[type="text"].deleteError {
		background: rgb(238, 211, 211);
		border: 1px solid red;
	}
p.draft {
	color:#ddd;
	margin:0px;
	line-height:.8em;
}
.demo .row {
	margin:2px;
}
.deleteButton {
	color:red;
	font-size:10px;
	position:absolute;
	top:0px;
	right:5px;
}
.closeModal {
	float: right;
	font-size: 1.6em;
	position: absolute;
	right: 15px;
	top: -25px;
	color: rgb(194, 194, 194);
	cursor:pointer;
}

.requiredLabel:after { color:red;content:" *"; }

.demo .column .box.inputBox .glyphicon {
	top:5px;
}
.demo .column .box.inputBox .removeOption {
 position: relative;
 right: -5px;
 top: 12px;
 font-size: 1.3em;
 color: rgb(228, 116, 116);
 cursor: pointer;
}
.dropdownRow {
	padding:0px;
}

.demo .column .box.inputBox .selectOption .glyphicon-move{position: relative;
right: 5px;
top: 12px;
font-size: 1.3em;
color: rgb(194, 194, 194);
cursor: pointer;}

.demo .column .box.inputBox .openModal {
	right:60px;
}
.demo .column .box.inputBox .remove {
right:20px;	
}
.demo .column .box.inputBox .dragthis {
right:40px;	
}

.demo .lyrow .drag {
top: -6px;
right: 20px;
z-index: 10;
}
.form-inline {
	overflow:hidden;
}
.modal p {
	margin-bottom:0px;
}
.modal h3 {
	margin-left:15px;
}
.modal .tabLayout h3 {
		margin-left:0px;
	}
	
	h3.descDesc {
		color:white;
		margin-bottom:0px;
		margin-left:0px;
	}
	p.descDesc {color:white; margin-bottom:15px;}
	
	.modal .tabLayout {

		text-align:center;
		margin-bottom:30px;
	}
	.removeTab {
		float: right;
		color: red;
		margin-right: 15px;
		cursor: pointer;
	}
	.removeTab:hover {
		color:rgb(187, 12, 12);
	}
.modal form {
	margin-bottom:20px;
}
.demo .lyrow .drag:hover {
	color: #34A6CA;
}
.demo .column {
	border: 1px dashed #DDDDDD;
	padding: 10px 10px 10px;
	margin: 0px;
	min-height: 50px;
}
.modal .column {
	border:none;
}	
	.admin-button.turquoise:not(.disabled):not(:disabled):active, .admin-button.turquoise:not(.disabled):not(:disabled).active {
	background-image: -moz-linear-gradient(top,#79bcbe,#68b4b5);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#79bcbe),to(#68b4b5));
	background-image: -webkit-linear-gradient(top,#79bcbe,#68b4b5);
	background-image: -o-linear-gradient(top,#79bcbe,#68b4b5);
	background-image: linear-gradient(to bottom,#79bcbe,#68b4b5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff79bcbe',endColorstr='#ff68b4b5',GradientType=0);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.6),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.6),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.6),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0),1px 1px 1px rgba(0,0,0,0);
	}
	ul#forms li.item.add div {
	display: block;
	float: left;
	font-weight: bold;
	width: 170px;
	text-align: center;
	position: absolute;
	bottom: 16px;
	}
	
	ul#forms {
	display: block;
	float: left;
	zoom: 1;
	list-style-type: none;
	}
	
	
@media (min-width:768px) {
	.navbar-nav>li>a {
	  padding-top:10px;
	  padding-bottom:10px;
	  }

	  .navbar-nav.navbar-right:last-child {
margin-right:inherit;	  }
	
}

/* RATING */
#rating { list-style:none; }
#rating li { display:inline; float:left; }
#rating li a { display: block;
width: 20px;
height: 20px;
margin: 5px;
border: 1px solid #888;
background-color: #333;
text-indent: -9999px;
-moz-box-shadow: 0 0 5px #888;
-moz-border-radius: 40px;
-webkit-box-shadow: 0 0 3px #888;
-webkit-border-radius: 40px;
-o-box-shadow: 0 0 5px #888;
-o-border-radius: 40px;}

#ratinginfo { clear:left; width:350px; margin:120px auto; }
#ratinginfo p { text-align:center; background-image:url("../images/textbg.png"); font:20px Georgia,'Times New Roman',serif; padding:10px;
	-moz-box-shadow:0 0 5px #888; -moz-border-radius:40px; -webkit-box-shadow:0 0 5px #888; -webkit-border-radius:40px; -o-box-shadow:0 0 5px #888; -o-border-radius:40px; }